<form id='filter-form' name='filterForm' ng_submit='submit()' novalidate>
  <div class='control-group'>
    <label>State</label>
    <select class='input-block-level' name='state' ng_model='data.filter.state'>
      <option value=''>-- any --</option>
      <option>unstarted</option>
      <option>started</option>
      <option>finished</option>
    </select>
  </div>
  <div class='control-group'>
    <label>Owner</label>
    <select class='input-block-level' name='owner' ng_model='data.filter.owner'>
      <option value=''>-- any --</option>
      <option>Manny</option>
      <option>Moe</option>
      <option>Jack</option>
    </select>
  </div>
  <div class='control-group'>
    <label>Labels</label>
    <input class='input-block-level' name='labels' ng_model='data.filter.labels' type='text'>
  </div>
  <div class='form-actions'>
    <button class='btn btn-primary'>Submit</button>
    <button class='btn' ng_click='clear()'>Clear</button>
  </div>
</form>