<table class='table table-bordered table-striped'>
  <thead>
    <th>State</th>
    <th>Owner</th>
    <th>Description</th>
    <th>Labels</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr ng_repeat='task in data.tasks'>
      <td>
        {{task.state}}
      </td>
      <td>
        {{task.owner}}
      </td>
      <td>
        {{task.description}}
      </td>
      <td>
        {{task.labels}}
      </td>
      <td style="text-align: center;">
        <div class="btn-group" ng_hide='task.state == "finished"'>
          <button class='btn btn-success btn-mini' ng_disabled='task.state == "started"' ng_click='start(task)'>Start</button>
          <button class='btn btn-inverse btn-mini' ng_disabled='task.state == "unstarted"' ng_click='finish(task)'>Finish</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>